@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$enable-gradients: true;
$enable-responsive-font-sizes: true;
$enable-shadows: true;

html,h1,h2,h3,h4,h5,h6,a{
 font-family: "Segoe UI";
}



.hero {
    padding: 10rem 0 30rem 0;
    background: url('/dist/images/space.jpg') no-repeat center center fixed;
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    -o-background-size: auto auto;
    background-size: auto auto;
    /*       filter: blur(6px);
    -webkit-filter: blur(6px); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero-message {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 2rem;
    text-align: center;
  }
  
  .text-center {
    width: 100%;
  }

  .flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .images {
	margin: 0 1rem;
  padding: 1em 0 4em;
  text-align: center;
}

.images figure {
    position: relative;
      overflow: hidden;
      width: 100%;
  }

  .images figure img {
	min-height: 100%;
	max-width: 100%;
}

nav.float-action-button {
    position: fixed;
    bottom: 10%;
    right: 0;
    margin: 1em;
    justify-content: center;
    align-content: center;
  }
  
  a.buttons {
    box-shadow: 0 5px 11px -2px rgba(0, 0, 0, 0.18), 0 4px 12px -7px rgba(0, 0, 0, 0.15);
    background-color: rgba(153, 153, 153, 0.199);
    border-radius: 50%;
    width: 56px;
    height: 56px;
    color: #fff;
    font-size: 3em;
    display: block;
    margin: auto 0;
    position: relative;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    -webkit-transition-delay: 25ms;
    transition-delay: 25ms;
  }
  
  nav.float-action-button:hover a.buttons {
    opacity: 1;
    color: #fff;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    margin: 10px auto 0;
  }
  
  .top-icon {
    position: relative;
    left: 13px;
    bottom: 10px;
  }
  
  .top-icon:before {
    position: relative;
  }
  

@import "../node_modules/bootstrap/scss/bootstrap";

